<footer class="main c-gray-3">
    <div class="item" id="main-page">
        <a href="/">VW-Bot</a>
    </div>
    <div class="item">
        <ul>
            <li><b>Автор бота:</b> Евгений Пачкалов</li>
            <li><b>Discord:</b> MegaTHEshkaF#4174</li>
            <li><b>Fandom:</b> <a href="https://community.fandom.com/ru/wiki/Участник:MegaTHEshkaF">MegaTHEshkaF</a></li>
        </ul>
    </div>
</footer>