<%- include('partials/header', { title: userGuild.name }) -%>

<body>
    <div class="wrapper">
        <%- include('partials/main-toolbar') -%>
        <main>
            <%- include('partials/guild-toolbar') -%>
            <div class="dashboard-form">
                Текст
            </div>
        </main>
        <%- include('partials/footer') -%>
    </div>
</body>