<%- include('partials/header', { title: 'Обучение' }) -%>

<body>
    <%- include('partials/main-toolbar') -%>

    <section class="dashboard-form c-gray-1">
        <%- include('partials/guides-toolbar') -%>

        <div class="content guides">
            <h2>Верификация</h2>
            <p>В этой статье вы узнаете, что такое верификация и как правильно её пройти.</p>

            <h3>Что значит верифицироваться?</h3>
            <p>Верификация — это процедура проверки. В данном случае бот проверяет у вас наличие аккаунта на площадке <b>Fandom</b>.</p>

            <h3>Зачем мне верифицироваться?</h3>
            <p>Обычно верификация даёт бонусы участникам вики. Например, доступ к закрытым каналам, специальные роли и т.п.</p>

            <h3>Как пройти верификацию?</h3>

            <h4>1. Зарегистрируйтесь или войдите в свой аккаунт на Fandom</h4>
            <p>Сделать это можно на любой вики или на главном сайте <a href="https://www.fandom.com" target="_blank">https://www.fandom.com</a>.</p>
            <img src="/public/images/ver-guide-1.jpg" width="600px">

            <h4>2. Откройте свой профиль и нажмите «Редактировать профайл».</h4>
            <img src="/public/images/ver-guide-2.jpg" width="600px">

            <h4>3. Скопируйте свой тег Discord в поле «Discord»</h4>
            <p>Чтобы скопировать тег, вы можете просто нажать на него.</p>
            <img src="/public/images/ver-guide-3.jpg" width="600px">

            <h4>4. Выполните дополнительные условия, если они имеются</h4>
            <p>От вас может потребоваться сделать определённое количесвто правок или иметь какие-то роли. Посмотреть дополнительные условия можно в приветствии.</p>
            <img src="/public/images/ver-guide-4.jpg" width="400px">

            <h4>5. Зайдите в канал верификации и используйте команду /verification</h4>
            <p>Нажмите слеш, выберите команду и введите свой никнейм на Fandom'е. Если канала верификации нет, команда будет работать в любом канале.</p>
            <img src="/public/images/ver-guide-5.jpg" width="400px">
        </div>
    </section>

    <%- include('partials/footer') -%>
</body>